[user]
	name = mame77
	email = morinaga.kota@icloud.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
  st = status
  sw = switch
  cm = commit
  ad = "!git add $1 && git status"
  ps = !git push origin $(git rev-parse --abbrev-ref HEAD)
  psf = !git push --force-with-lease origin $(git rev-parse --abbrev-ref HEAD)
[credential]
	helper = store

