[user]
	name = mame77
	email = morinaga.kota@icloud.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
  st = status
  sw = switch
  cm = commit -m
  cma = commit --amend
  ad = "!git add $1 && git status"
  fr = "!f() { git fetch --prune origin $1 && git rebase origin/$1; }; f"
  rc  = rebase --continue
  ps = !git push origin $(git rev-parse --abbrev-ref HEAD)
  psf = !git push --force-with-lease origin $(git rev-parse --abbrev-ref HEAD)
[credential]
	helper = store

