[user]
	name = mame77
	email = morinaga.kota@icloud.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
  st = status
  sw = switch
  br = branch
  cm = commit -m
  as = "!git add . && git status"
  ps = !git push origin $(git rev-parse --abbrev-ref HEAD)
[credential]
	helper = store
