prefer-no-csd
input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
    }
    trackpoint {
    }
}
/-output "eDP-1" {
    mode "1920x1080@120.030"
    scale 2
    transform "normal"
    position x=1280 y=0
}
output "DP-1" {
    mode "2560x1440@180.000"
    variable-refresh-rate
}
cursor{
	hide-when-typing
}

workspace "one"
workspace "two"
workspace "three"

layout {
    gaps 16
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }
    focus-ring {
        width 0.00000001
        active-color "#B0E0E6"
        inactive-color "#505050"
    }

    shadow {
        softness 30
        spread 5
        offset x=0 y=5
        color "#0007"
    }
    struts {
        top 0
        bottom 8
        left 8
        right 8
   }
}

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
}

window-rule {
	open-maximized true
	draw-border-with-background false
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

}

/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

spawn-at-startup "fcitx5"
spawn-at-startup "waybar"
//spawn-at-startup "swaybg" "-i" "/home/mame/Pictures/huriren.jpg" "-m" "stretch"
spawn-at-startup "swaybg" "-i" "/home/mame/Downloads/catppuccin-uzu.jpg" "-m" "stretch"


binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+G hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Mod+B hotkey-overlay-title="Run an Application: obsidian" { spawn "obsidian"; }
    Mod+D hotkey-overlay-title="Run an Application: discord" { spawn "discord"; }
    Mod+U hotkey-overlay-title="Open a Browser: chromium" { spawn "chromium"; }
    Mod+I hotkey-overlay-title="Open a Browser: zen-browser" { spawn "zen-browser"; }
    Mod+C hotkey-overlay-title="Open a Webapp: claude" { spawn-sh "chromium --new-window --app='https://claude.ai/new'"; }
    Mod+Y hotkey-overlay-title="Open a Webapp: youtube" { spawn-sh "chromium --new-window --app='https://youtube.com'"; }
    Mod+S hotkey-overlay-title="Open a Webapp: spotify" { spawn-sh "chromium --new-window --app='https://open.spotify.com/'"; }
    //Mod+D hotkey-overlay-title="Open a Webapp: discord" { spawn-sh "chromium --new-window --app='https://discord.com/channels/@me'"; }
    Mod+A hotkey-overlay-title="Open a Webapp: translate-langage" { spawn-sh "chromium --new-window --app='https://www.deepl.com/ja/translator'"; }


    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+O repeat=false { toggle-overview; }
    MouseMiddle { toggle-overview; }
    Mod+Q     { close-window; }

    Mod+H     { focus-column-or-monitor-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-or-monitor-right; }

    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-workspace-down; }
    Mod+Ctrl+K     { move-workspace-up; }
    Mod+Ctrl+L     { move-column-right; }


    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }

    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }


    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Mod+P  { screenshot; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+E { quit; }
    Mod+Ctrl+Q  { quit; }
}

