// setting
input {
    keyboard {
        numlock
        repeat-delay 600
        repeat-rate 30
    }
    touchpad {
        tap
        natural-scroll
        scroll-factor 0.3
    }
}
cursor {
    hide-when-typing
}
output "eDP-1" {
    mode "1920x1080@60"
    scale 1.25
    position x=1920 y=0
    variable-refresh-rate
}
output "HDMI-A-1" {
    mode "1920x1080@60"
    position x=0 y=0
}
layout {
    focus-ring { width 0.00000001; active-color "#B0E0E6"; inactive-color "#505050"; }
    struts { top 0; bottom 6; left 6; right 6; }
}
// startup
prefer-no-csd
spawn-at-startup "fcitx5"
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "ghostty"
spawn-at-startup "pipewire"
spawn-at-startup "swaybg" "-i" "/home/mame/Downloads/blue-sky.jpg" "-m" "stretch"
hotkey-overlay {
    skip-at-startup
}
// display
window-rule {
    open-maximized true
    draw-border-with-background false
}
workspace "one"
workspace "two"
workspace "three"
binds {
    // app
    Mod+Return { spawn "ghostty"; }
    Mod+F      { spawn "fuzzel"; }
    Mod+W      { spawn "chromium"; }
    // web app
    Mod+S     { spawn-sh "chromium --new-window --app='https://app.slack.com/client/'"; }
    Mod+Space { spawn-sh "chromium --new-window --app='https://gemini.google.com/u/3/app'"; }
    // move
    Mod+H          { focus-column-left; }
    Mod+L          { focus-column-right; }
    Mod+J          { focus-window-or-workspace-down; }
    Mod+K          { focus-window-or-workspace-up; }
    Mod+Shift+H    { focus-monitor-left; }
    Mod+Shift+L    { focus-monitor-right; }
    // move column
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+L     { move-column-right; }
    Mod+Ctrl+J     { move-column-to-workspace-down; }
    Mod+Ctrl+K     { move-column-to-workspace-up; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }
    // sound
    Mod+I { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    Mod+U { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    Mod+Shift+U { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    // blight
    Mod+Comma { spawn "brightnessctl" "set" "10%+"; }
    Mod+M     { spawn "brightnessctl" "set" "10%-"; }
    // lock
    Mod+R { spawn "swaylock"; }
    // column size
    Mod+A       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    // screenshot
    Mod+Shift+P { screenshot-window; }
    Mod+P  { screenshot; }
    // off
    Mod+Q  { close-window; }
    Mod+Shift+E { quit; }
    Mod+Shift+Q { power-off-monitors; }
}
