@import "../../themes/nord/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  background-color: @background;
  border-radius: 8px;
  padding: 4px 6px;
  margin: 3px;
}

#workspaces button {
  all: initial;
  padding: 2px 8px;
  margin: 0 2px;
  min-width: 11px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#custom-update {
  background-color: @background;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 3px;
  min-width: 14px;
}

#custom-expand-icon {
  background-color: @background;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 3px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  background-color: @background;
  border-radius: 8px;
  padding: 6px 14px;
  margin: 3px;
}

.hidden {
  opacity: 0;
}

#custom-cava {
  background-color: @background;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 3px;
}
