/* @import "../../themes/nord/waybar.css"; */

@define-color background #ffffff;
@define-color foreground #000000;

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: transparent;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  background-color: @background;
  border-radius: 8px;
  padding: 4px 6px;
  margin: 3px;
}

#workspaces button {
  all: initial;
  padding: 2px 8px;
  margin: 0 2px;
  min-width: 11px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#backlight,
#custom-omarchy,
#custom-update,
#custom-date {
  background-color: @background;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 3px;
  min-width: 14px;
}

#pulseaudio:not(.muted) {
  background-color: #ffff00;
  color: #000000;
}

#battery.critical {
  background-color: #ffff00;
  color: #000000;
}

#battery.charging,
#battery.plugged {
  background-color: #00ff00;
  color: #000000;
}

#custom-expand-icon {
  background-color: @background;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 3px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  background-color: @background;
  border-radius: 8px;
  padding: 6px 14px;
  margin: 3px;
}

.hidden {
  opacity: 0;
}

#custom-cava {
  background-color: @background;
  border-radius: 8px;
  padding: 6px 10px;
  margin: 3px;
}
